#main {
  width: 700px;
  height: 500px;
  margin-left:300px;
  margin-top: 25px;
}

#controles {
  background-color: #C0C0C0;
}

#fichero {
  width: 700px;
  margin-left:300px;
  margin-top: 25px;
}
